
.emu_section {
	border:1px solid #444444;
	box-shadow: 2px 2px #aaaaaa;
	padding: 2px;
	margin: 10px;
}

#registers_title {
	font-size: 20px;
	color: #000000;
}

.emu_register {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 18px;
	color: #444444;
}

.emu_register.changed {
	font-weight:bold;
 	color: #000000;
}


#memory_title {
	font-size: 14px;
	color: #000000;
}

.emu_memory_line {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 12px;
	color: #444444;
}
.emu_memory_line::after {
  content: "";
  display: block;
}

.emu_memory_line.changed {
	font-weight:bold;
 	color: #000000;
}



#disassembly_title {
	font-size: 14px;
	color: #000000;
}

.emu_disassembly_line {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 12px;
	color: #444444;
}
.emu_disassembly_line::after {
  content: "";
  display: block;
}

.emu_disassembly_line.changed {
	font-style:italic;
 	color: #000000;
}

.emu_disassembly_line.current {
	font-weight:bold;
 	color: #000000;
}


#lineprinter {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 16px;
 	color: #000000;
	border:1px solid black;
}


.emu_tape_entry {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 10px;
	color: #444444;
}

.emu_tape_entry.current {
 	color: #ff0000;
 	text-decoration: underline;
}



.emu_teletype {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 14px;
	color: #444444;
}

.emu_debugger {
	border:1px solid #444444;
	box-shadow: 2px 2px #aaaaaa;
	padding: 2px;
	margin: 10px;
}

